
.head a{
 color: rgb(0, 0, 0);
justify-content: center;
   text-decoration: none;
   align-items: center; 
}
.head img{
    height: 20px;
    width: 20;
}
.blue1{
     height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    top: 100px;
    right: 70%;
    border-radius: 45%;
    
}
.blue{
     background-color: blue;
    height: 50px;
    width: 50px;
    color: black;
    
}
.banner {
  text-align: center;
  background-color: blue;
  width: 200px;

height: 250px;  
}

.banner h1 {
 
}
.banner p{

}
.imgs a img{
  width: 100%;
}
